.btn-design{
    color: #F1592A
}

.contact-us-form{
  max-width: 500px;
}

.body {
  color:white;
}
.title {
  color: white;
  font-family: Montserrat;
}
.txt-design{
    position: absolute;
    width: 594px;
    height: 133px;
    left: 64px;
    top: 1353px;

    /* Heading 1 */

    font-family: Montserrat;
    
    font-style: normal;
    font-weight: 800;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
}

.contact-us-form{
 
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}