.location {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.date {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;

}

.event {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 54px;
    line-height: 66px;
    /* identical to box height */

    text-transform: uppercase;

    /* Accent Light */
    color: #AFD7F2;
}

.author {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 0;
}