@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');
.source h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  color: white;
}

.source {
  padding: 30px;
  text-align: left;
  
}

.source h4 {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.source p {
  margin-top: -20px;
  color: white;
}

.source p a{
  color: white;
}

.card-body {
  background-color:  #E5E5E5;
}

.title-event {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 54px;
  line-height: 66px;
  /* identical to box height */

  text-transform: uppercase;

  /* Dark */

  color: #303132;
}

.title-location {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */

  text-transform: uppercase;

  color: #696A6C;
}

.title-date {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */

  text-transform: uppercase;

  color: #58595B;
}

.card-submitter {
  display:inline;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  margin: 10px;

  /* Dark */

  color: #303132;
}

.card-grade {
  display:inline;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  margin: 10px;
  /* identical to box height */


  /* Dark */

  color: #303132;
}

.submitter-location {
  display:inline;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  margin: 10px;
  /* identical to box height */


  /* Dark */

  color: #303132;
}


