.color{
    background-color: #222629;
    border-bottom:2px solid #66FCF1;
    padding-bottom:0;
}

.NavText{
    color: white;

}

.Nav-link:link {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    color: #ffffff;
    font-size: 15px;
    line-height: 1.6rem;
    text-decoration: none;
    padding-right: 0;
    padding-left: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 21px;
    line-height: 25px;
    
  }
.flexbox-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.right-align {
    float: right;
    padding-left: 500px;
}