.image-box {

    

    /* Here's the same styles we applied to our content-div earlier */
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-box:hover {
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.5);
}

.Button:hover {
    color: white;
}

.flexbox-container {
    display: flex;
    flex-direction: row;
}